body {
  -webkit-appearance: none;
  background-color: #f8f9fa !important;
  overscroll-behavior: none;
}

a {
  -webkit-tap-highlight-color: transparent;
}

div {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
} 

::-webkit-scrollbar-track:vertical {
  border-left: 1px solid #b3c3ca;
  border-right: 1px solid #b3c3ca;
  box-shadow: inset 0 0 13px 13px transparent;
  box-sizing: border-box;
}

::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid #b3c3ca;
  border-bottom: 1px solid #b3c3ca;
  box-shadow: inset 0 0 13px 13px transparent;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  /* background: #E4E7E9; */
  border-radius: 24px;
  border: solid 3px transparent;
  box-shadow: inset 0 0 13px 13px #e4e7e9;
  /* margin: 10px; */
}

/* ::-webkit-scrollbar-thumb:hover {
    background: #E4E7E9;
} */

.debug > * {
  border: 1px solid gold;
}
